<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lab1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lab1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <span class="logo">Mango - магазин манги українською</span>
        <nav class="menu">
            <a href="/commonData">Загальні відомості про магазин</a>
            <a href="/contacts">Зв'язатись з нами</a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p class="text">&copy; 2023</p>
    </footer>
</body>
</html>
