@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <img class="mainlogo" src="photos/logo.jpg" alt="Mango logo">
    <title>Mango - Онлайн магазин української манги</title>
    <h1>Ласкаво просимо на сайт "Mango"!</h1>
    <p>Тут ти знайдеш великий вибір популярних манга-творів, які можеш придбати і насолоджуватися їх захоплюючими історіями на українській мові.</p>
    <h2>Що нас відрізняє:</h2>
    <ul>
        <li>Широкий вибір манги: У нас великий вибір манга-творів на різні теми – від пригодницьких до романтичних, від фентезі до науки-фікції. Ти знайдеш японські класики, такі як "Наруто", "Ванпанчмен", "Атака титанів", а також нові та популярні серії останніх років.</li>
        <li>Український переклад: Вся манга на нашому сайті має офіційний український переклад, що робить її доступною та зрозумілою для української аудиторії.</li>
        <li>Зручний пошук та навігація: Ми прагнемо забезпечити зручний досвід користувачів на сайті. Використовуй наш потужний пошуковий двигун, щоб швидко знайти мангу, яка тебе цікавить, а також відкривай нові серії через рекомендації та популярні розділи.</li>
        <li>Зручність покупок: Наш магазин пропонує простий процес замовлення та оплати. Обирай мангу, додавай її до кошика, оформлюй замовлення та оплачуй його в кілька кліків. Ми також надаємо зручні варіанти доставки, щоб твої замовлення приходили вчасно та в цілості.</li>
    </ul>

</div>