@{
    ViewData["Title"] = "Зворотній зв'язок";
}

<div>
    <h1>Дякуємо за ваше повідомлення!</h1>
    <p>Ми отримали ваше повідомлення і зв'яжемося з вами найближчим часом.</p>
    <p><a href="index.html">Повернутися на головну сторінку</a></p>
</div>