@{
    ViewData["Title"] = "Зворотній зв'язок";
}

<div>
    <h1>Контакти</h1>
    <p>Зв'яжіться з нами, якщо у вас є будь-які питання або пропозиції:</p>

    <h2>Інтернет-магазин Mango</h2>
    <ul>
        <li>Адреса: вул. Ваша, місто, країна</li>
        <li>Телефон: <a href="tel:+123456789">+12 345 6789</a></li>
        <li>Email: <a href="mailto:info@mango.com">info@mango.com</a></li>
    </ul>
</div>