@{
    ViewData["Title"] = "Загальні відомості про магазин";
}

<div>
    <h2>Режим роботи</h2>
    <p>Пн-Пт: 9:00-18:00</p>
    <p>Сб-Нд: заходи на івенти та виставки</p>

    <h2>Соціальні мережі</h2>
    <ul>
        <li>Facebook: <a href="https://www.facebook.com/mango">facebook.com/mango</a></li>
        <li>Instagram: <a href="https://www.instagram.com/mango">instagram.com/mango</a></li>
        <li>Twitter: <a href="https://www.twitter.com/mango">twitter.com/mango</a></li>
    </ul>
</div>